pkgbase = agregore-browser-git
	pkgdesc = A minimal browser for the distributed web
	pkgver = 1.0.0.30.r6.gc78b34b
	pkgrel = 1
	url = https://github.com/AgregoreWeb/agregore-browser
	arch = x86_64
	license = AGPL
	makedepends = git
	makedepends = npm
	depends = electron
	depends = python3
	depends = nodejs
	depends = libsodium
	source = git+https://github.com/AgregoreWeb/agregore-browser/
	source = agregore-browser.desktop
	source = agregore-browser.sh
	sha1sums = SKIP
	sha1sums = 5df84e15aba60d304d0fa102d78b797a737718f3
	sha1sums = b2d858eb3b8d716fff8ef3e40bef3219cb26140b

pkgname = agregore-browser-git

