[Desktop Entry]
Name=Agregore Browser
Comment=A minimal web browser for the distributed web
Exec=agregore-browser %U
Icon=agregore-browser
Terminal=false
Type=Application
Categories=Network;WebBrowser;
MimeType=x-scheme-handler/hyper;x-scheme-handler/dat;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ipfs;x-scheme-handler/ipns;
StartupWMClass=Agregore Browser
StartupNotify=true
