[Desktop Entry]
Name=Agregore Browser
Exec=/usr/bin/agregore-browser
terminal=false
Type=Application
Icon=/usr/lib/applications/agregore-browser/build/icon.svg
StartupWMClass=Agregore Browser
Comment=A minimal web browser for the distributed web
MimeType=x-scheme-handler/hyper;x-scheme-handler/dat;x-scheme-handler/http;x-scheme-handler/https;
Categories=Development;

TryExec=/usr/bin/agregore-browser
